<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index/Home View</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1>Pollinator Haven Home Page</h1>
      </div>
      <div class="jumbotron text-center">
        <% if(currentUser) { %>
          Welcome <%= currentUser.username %>
          <a href="/sightings">Sightings Page</a>
        <% } else { %>
          Welcome. Please sign in.
        <% } %>
        <nav>
            <% if(!currentUser) {%>
            <a href="/sessions/new" class="btn btn-success btn-lg">Log In</a>
            <a href="/users/new" class="btn btn-success btn-lg" role="button">Sign Up</a>
            <% } %>
            <% if(currentUser) { %>
            <li>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout"/>
              </form>
            </li>
            <% } %>
        </nav>
      </div>
    </div>
  <% include ../partials/scripts.ejs %>
  </body>
</html>
