/* @import "../node_modules/bootstrap/scss/bootstrap"; */

* {
  border: 1px solid #000;
}
html, body {
  min-width: 100%;
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
}
