<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Species New View</title>
    <% include ../../partials/head.ejs %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3-dRwU-380T2MF5h331zf8tltwcDIQiA&callback=initMap">
    </script>
  </head>
  <body>
    <h1>Add to Your Garden</h1>
    <form class="form-group" action='/sightings' method="POST" enctype="multipart/form-data">
      Title: <input type="text" name="sightingTitle" placeholder="Title"><br>
      Species: <input type="text" name="species" placeholder="Species"><br>
      Upload Image: <input type="file" name="image"><br>
      Location: <input type="number" name="location.latitude" placeholder="latitude">
      <input type="number" name="location.longitude" placeholder="longitude"><br>
      <!-- structure needs to change to match schema-->

      In Season from:
      <input type="date" name="season.startDate">
      <!-- structure needs to change to match schema -->
      to <input type="date" name="season.endDate"><br>

      Notes:<br>
      <textarea name="notes" rows="8" cols="80"></textarea><br>

      <input type="submit" value="Add">

    </form>
    <div class="" id="map" style="height: 400px;width: 400px;">

    </div>
  </body>
</html>
