<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show View</title>
  </head>
  <nav>
    <a href="/sightings">Back</a>
  </nav>
  <body>
    <h1><%= sighting.sightingTitle %></h1>
  </body>
</html>
