<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Sessions View</title>
      <% include ../../partials/head.ejs %>
  </head>
  <body>
    <div class="jumbotron">
      <div class="page-header">
        <h1>Sign In</h1>
      </div>
      <form class="" action="/sessions" method="POST">
        <div>
          <input class="btn btn-info btn-lg" type="text" name="username" placeholder="Username"><br>
          <div class="row"> </div>
          <input class="btn btn-info btn-lg" type="password" name="password" placeholder="Password"><br>
        </div>
        <div class="row"> </div>
        <input class="btn btn-success btn-lg" type="submit" value="Sign In"><br>
      </form>
    </div>
  </body>
</html>
