<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New User View</title>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <form class="" action="/users" method="POST">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="password" name="password" placeholder="Password"><br>

      <input type="submit" value="CREATE USER"><br>
    </form>
  </body>
</html>
